body {
    font-family: Arial, sans-serif;
    background-image: url("backround.png");
    background-size:contain;
    margin: 0;
    padding: 20px;
}

.container {
    min-width: 500px;
    min-height: 100px;
    max-width: 1000px; /* Increase max-width for larger popup */
    margin: auto;
    background: #b0ccff38;
    padding: 30px; /* Increase padding for larger popup */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Increase shadow for larger popup */
}

h1 {
    text-align: center;
    font-family: Tahoma, sans-serif;
    color: #000000
}

label {
    display: block;
    font-family: Tahoma, sans-serif;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000
    
}

input[type="text"] {
    width: 96.5%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    background-color: #e0e0e0a2;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 15px; /* Increase button padding */
    background-color: #ffffffa2;
    border: none;
    color: #000000;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #ffffffa2;
}

.result {
    margin-top: 20px;
    padding: 20px; /* Increase result padding */
    background-color: #ffffffa2;
    border-radius: 5px;
    text-align: center;
}
